@font-face {
  font-family: "Montserat-Medium"; /* The name of the font */
  src: url("../../common/assets/Montserrat-Medium.ttf"); /* Path to the font file */
  /* Add additional font properties if needed, like font-weight and font-style */
}

@font-face {
  font-family: "Montserat-Bold"; /* The name of the font */
  src: url("../../common/assets/Montserrat-Bold.ttf"); /* Path to the font file */
  /* Add additional font properties if needed, like font-weight and font-style */
}

@font-face {
  font-family: "Montserat-Light"; /* The name of the font */
  src: url("../../common/assets/Montserrat-Light.ttf"); /* Path to the font file */
  /* Add additional font properties if needed, like font-weight and font-style */
}

@font-face {
  font-family: "Montserat-Regular"; /* The name of the font */
  src: url("../../common/assets/Montserrat-Light.ttf"); /* Path to the font file */
  /* Add additional font properties if needed, like font-weight and font-style */
}

@font-face {
  font-family: "Montserat-Black"; /* The name of the font */
  src: url("../../common/assets/Montserrat-Black.ttf"); /* Path to the font file */
  /* Add additional font properties if needed, like font-weight and font-style */
}

.main-title {
  font-family: "Montserat-Medium";
  font-size: 32px;
  color: white;
}
.second-title {
  font-family: "Montserat-Bold";
  
  color: #b8ffb7;
}

.calitate {
  font-family: "Montserat-Light";
  font-size: 15px;
  color: white;
}
.calitate2 {
  font-family: "Montserat-Medium";
  color: white;
  

}

.locatie {
  font-family: "Montserat-Medium";
  font-size: 14px;
  color: white;
}
.pinpoint {
  width: 6%;
}

.result {
  font-size: 40px;
  font-family: "Montserat-Black";
  color: white;
}

.main-gradient {
  /* background: rgb(91, 246, 145);
  background: linear-gradient(
    270deg,
    rgba(91, 246, 145, 1) 0%,
    rgba(25, 26, 28, 0) 100%
  ); */
  height: 10vh;
  width: 100%;
}

.div-gri{
  background-color: #454545;
  height: 70px;
}

.opac{
  opacity: 0.5;
  width: 12%;
}
.activitate {
  font-family: "Montserat-Bold";

  color: white;
}
.ora{
  font-family: "Montserat-Medium";
  padding-left: 10px;
  padding-right: 10px;
 
}

.event-locatie{
  font-family: "Montserat-Light";
  
}
.grade{
  font-family: "Montserat-Medium";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  
}
.rating{
  font-family: "Montserat-Bold";
  font-size: 20px;
  /* background: rgb(25,26,28);
  background: linear-gradient(324deg, rgba(25,26,28,0) 0%, rgba(42,255,37,1) 100%); */
  /* margin-right: 10%; */
  padding-left: 23px;
  padding-right: 23px;
  
}

.titlu-turbat {

  /* letter-spacing: 15px; */
  color: #000203;
  text-transform: uppercase;
  /* text-align: center; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  /* line-height: 0.7em; */
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
  
    color:  #454545;
    box-shadow: none;
  }
  100% {
  
    color: #b8ffb7;
    text-shadow: 0 0 50px #b8ffb7,
                0 0 20px #015200,
                0 0 40px #b8ffb7,
                0 0 80px #b8ffb7,
                0 0 160px #b8ffb7,
  }
}

.check-box{
  background-color: #454545;
}

input::placeholder {
  color: white; /* Setează culoarea textului placeholder-ului la alb */
  opacity: 1; /* Asigură-te că textul este vizibil */
}


.input-container {
  display: flex;
  background: #333; /* Culoarea fundalului */
  border: 1px solid #666; /* Stilul chenarului */
  border-radius: 4px;
  align-items: center; /* Aliniază elementele pe axa verticală */
  padding: 0 8px; /* Spațiere în interiorul containerului */
}

input {
  border: none; /* Elimină chenarul din jurul inputului */
  background: transparent; /* Background transparent pentru a afișa fundalul containerului */
  padding: 8px;
  color: white;
}

.search-icon {
  color: white; /* Culoarea iconiței */
  margin-right: 8px; /* Spațiere între icon și input */
  cursor: pointer;
}
.culoare-buton{
  background-color: green;
}

